@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media only screen and (min-width: 425px) {
  .w-\[350px\]{
    width: 346px;
  }
  .h-\[250px\]{
    height: 349px;
  }
  img{
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .w-\[350px\]{
    width: 260px;
  }
  .h-\[250px\]{
    height: 253px;
  }
  .img-sec{
    width: 102%;
  }
  img{
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .w-\[350px\]{
    width: 367px;
  }
  .h-\[250px\]{
    height: 358px;
  }
}
